{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" (urlize $author)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}

<!-- About widget -->
<div class="row" >
  <div class="col-12 col-lg-4">
    <div id="profile">

      {{ if site.Params.gravatar }}
      <img class="portrait" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=200')" alt="Avatar">
      {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "250x250 Center" }}
      <img class="portrait" src="{{ $avatar_image.RelPermalink }}" alt="Avatar">
      {{ end }}

      <div class="portrait-title">
        <h2>{{ $person.name }}</h2>
        <h4>{{ $person.namecn }}</h4>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>
  <div class="col-12 col-lg-8" style="text-align: justify">

    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}

    <!-- {{ $person_page.Content}} -->
    <p>
      Hi there! I am a Ph.D. candidate in Computer Science at <a target="_blank" href="https://www.kaust.edu.sa/en"> KAUST</a>, under the supervision of <a target="_blank" href="http://www.bernardghanem.com/">Prof. Bernard Ghanem</a>. 
      I am now a research scientist intern at <a target="_blank" href="https://research.snap.com/"> Snap Research</a>, working on large foundation models for text/image-to-3D generation. 
      During my Ph.D. studies, I was fortunate to intern at serveral leading research institutions, including <a target="_blank" href="https://tech.facebook.com/reality-labs/">Meta Reality Lab</a>, <a target="_blank" href="https://www.microsoft.com/en-us/research/">Microsoft Research</a>, <a target="_blank" href="https://en.megvii.com/">Megvii Research</a>, and <a target="_blank" href="https://www.sensetime.com/en/">SenseTime Research</a>. 
      Prior to that, I received my B.Eng degree with the highest undergraduate honor from <a target="_blank" href="https://en.wikipedia.org/wiki/Xi%27an_Jiaotong_University">Xi'an Jiaotong University (XJTU)</a> in 2018. 
      My primary research interests lie in 3D perception and 3D generation. 
      My representative work includes 3D Foundation Model <a target="_blank" href="https://arxiv.org/abs/2206.04670"> PointNeXt (NeurIPS)</a>, efficient point cloud network <a target="_blank" href="https://arxiv.org/abs/2110.10538">ASSANet (NeurIPS Spotlight)</a>, Graph Foundation Model <a target="_blank" href="https://arxiv.org/abs/1910.06849">DeepGCNs (T-PAMI)</a>, and image-to-3D generation <a target="_blank" href="https://guochengqian.github.io/project/magic123/">Magic123</a>.
      <br>
      I am open to colloboration. Feel free to drop me an email through guocheng.qian [at] kaust.edu.sa.
    </p>


    <div class="row">
      {{ with $person.education }}
      <div class="col-md-5">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
              <a href="{{ .link }}" target="_blank">
                <i><img src="img/logo/{{ .logo }}" style="position: absolute;left: -2.5rem;width: 2rem;top: 0.14285714em;text-align: center;"></i>
              </a>
              <div class="description">
                <p class="course">{{ .course }}</p>
                <a href="{{ .link }}" target="_blank"><p class="institution">{{ .institution }}, {{.year}}</p></a>
              </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      
      {{ with $person.interests }}
      <div class="col-md-7">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests"> 
          {{ range . }}
          <div class="description">
            <li class="course">{{ .item }}</li>
            <!-- <div>{{ .works | markdownify | emojify }}</div> -->
          </div>
          {{ end }}
        </ul>
      </div>
      {{ end }}


    </div>
  </div>
</div>
