{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" (urlize $author)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}

<!-- About widget -->
<div class="row" >
  <div class="col-12 col-lg-4">
    <div id="profile">

      {{ if site.Params.gravatar }}
      <img class="portrait" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=200')" alt="Avatar">
      {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "250x250 Center" }}
      <img class="portrait" src="{{ $avatar_image.RelPermalink }}" alt="Avatar">
      {{ end }}

      <div class="portrait-title">
        <h2>{{ $person.name }}</h2>
        <h4>{{ $person.namecn }}</h4>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $person.organizations }}
        <h3>
          {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          <span>{{ .name }}</span>
          {{ if .url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
            <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>
  <div class="col-12 col-lg-8" style="text-align: justify">

    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}

    <!-- {{ $person_page.Content}} -->
    <p>
      Hi there! I am a research engineer in <a target="_blank" href="https://cemse.kaust.edu.sa/ai"> AI Initiative</a> at <a target="_blank" href="https://www.kaust.edu.sa/en"> KAUST</a> in Saudi Arabia, under the supervision of <a target="_blank" href="https://scholar.google.com/citations?user=rVsGTeEAAAAJ&hl=en">Prof. Bernard Ghanem</a> and <a target="_blank" href="https://scholar.google.it/citations?user=2kq5Zl0AAAAJ&hl=en">Dr. Silvio Giancola</a>. 
      I’m also taking CS courses at <a href="https://csuglobal.edu/">Colorado State University Global</a> as a non-degree seeking student. 
      Previously, I obtained dual Bachelor's degrees in <b>Mechanical Engineering</b> and <b>Statistics</b> from <a target="_blank" href="https://en.wikipedia.org/wiki/National_Cheng_Kung_University">National Cheng Kung University</a>.
      I've worked on different <b>Computer Vision</b> projects at serveral leading research institutions, including <a target="_blank" href="https://www.citi.sinica.edu.tw/en/">Academia Sinica</a>, <a target="_blank" href="https://www.shanghaitech.edu.cn/eng/">ShanghaiTech University</a>.
      Now, my research interests lie primarily in applications for <b>Robotics</b> and <b>Embodied AI</b>.

      <br>
      <br>

      I am applying PhD programs in Robotics and CS for the 2024 Fall.

    </p>


    <div class="row">
      {{ with $person.education }}
      <div class="col-md-7.5">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
              <a href="{{ .link }}" target="_blank">
                <i><img src="img/logo/{{ .logo }}" style="position: absolute;left: -2.5rem;width: 2rem;top: 0.14285714em;text-align: center;"></i>
              </a>
              <div class="description">
                <p class="course">{{ .course }}</p>
                <a href="{{ .link }}" target="_blank"><p class="institution">{{ .institution }}, {{.year}}</p></a>
              </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      
      {{ with $person.interests }}
      <div class="col-md-4">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests"> 
          {{ range . }}
          <div class="description">
            <li class="course">{{ .item }}</li>
            <!-- <div>{{ .works | markdownify | emojify }}</div> -->
          </div>
          {{ end }}
        </ul>
      </div>
      {{ end }}


    </div>
  </div>
</div>
